/*---------------------------------------------------------
	1. Reset
------------------------------------------------------------ */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
table { border-collapse: collapse; border-spacing: 0; }

/*---------------------------------------------------------
	Body and links
------------------------------------------------------------ */
body {
	font-size: 14px;
	font-family: 'proxima-nova', Helvetica, Arial, sans-serif;
	color: #6d6455;
	background: #ede5d5 url(/images/bg.jpg);
}
a:link,
a:visited {
	color: #6b6251;
	text-decoration: underline;
}
a:hover {
	color: #312d25;
}
/*---------------------------------------------------------
	Basic Structure
------------------------------------------------------------ */
#wrapper {
	max-width: 500px;
	margin: 44px auto 0 auto;
	padding: 22px 44px;
	background: #fbfaf5;
	-webkit-box-shadow: 0 1px 3px rgba(64, 56, 41, .20);
	-moz-box-shadow: 0 1px 3px rgba(64, 56, 41, .20);
	box-shadow: 0 1px 3px rgba(64, 56, 41, .20);
}
.clear:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

/*---------------------------------------------------------
	Header
------------------------------------------------------------ */
#header {
	margin: 44px 0;
}
/*---------------------------------------------------------
	Sections
------------------------------------------------------------ */
div.section {
	margin: 22px 0;
	line-height: 22px;
}
h2,
h3,
h4 {
	margin: 22px 0 0 0;
	line-height: 44px;
}
code {
	font-size: 13px;
	font-family: Consolas, monospace;
	word-wrap: break-word;
}
code span {
	color: #aa9d89;
}
pre {
	margin: 22px 0;
	padding: 11px;
	line-height: 22px;
	background-color: #f4f0e7;
	border: 1px solid #e8e0d1;
}
pre code {
	background: none;
	padding: 0;
}
p {
	margin-bottom: 22px;
}
ol, ul {
	margin-bottom: 22px;
	line-height: 22px;
}
ul {
	list-style: disc outside;
}
ol {
	list-style: decimal outside;
}
li {
	margin-left: 22px;
}

/*---------------------------------------------------------
	Footer
------------------------------------------------------------ */
#footer {
	margin: 22px 0;
	font-size: 13px;
	text-align: center;
}